@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
* {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: url("../assets/textures/2d/cursor.png"), pointer !important;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

#container {
  width: 100%;
  height: 100%;
  opacity: 0;
}

#loader {
  position: fixed;
  bottom: 30px;
  left: 30px;
  color: white;
  font-size: 20px;
}

#console {
  position: fixed;
  top: 10px;
  left: 10px;
  background: transparent;
  color: white;
  border: 0;
  opacity: 1 !important;
  display: inline !important;
  resize: none;
  z-index: 4;
  font-family: 'Open Sans', sans-serif;
  cursor: default;
  font-size: 12px;
  outline: 0;
  width: 500px;
  height: 150px;
  overflow: hidden;
  pointer-events: none;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}


/* Chat window stuff */

#chatlog {
  position: fixed;
  height: 154px;
  top: calc(40% - 72px);
  left: 10px;
  z-index: 4;
  width: calc(90% - 31px);
  pointer-events: none;
  color: white;
  transition: 0.3s;
}

#chatlog > .message {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  height: 22px;
}

#chatlog > .message > .user {
  font-weight: 300;
}

#chatlog > .message > .user::after {
  content: ": ";
}

#chatlog > .message > .content {
  font-weight: 400;
}

#chatlog > .message > .content > .color_0 {
  color: rgb(000, 000, 000);
}

#chatlog > .message > .content > .color_1 {
  color: rgb(255, 049, 049);
}

#chatlog > .message > .content > .color_2 {
  color: rgb(134, 192, 000);
}

#chatlog > .message > .content > .color_3 {
  color: rgb(255, 173, 034);
}

#chatlog > .message > .content > .color_4 {
  color: rgb(000, 135, 193);
}

#chatlog > .message > .content > .color_5 {
  color: rgb(032, 197, 255);
}

#chatlog > .message > .content > .color_6 {
  color: rgb(151, 080, 221);
}

#chatlog > .message > .content > .color_7 {
  color: rgb(255, 255, 255);
}

#chatlog > .message > .content > .color_8 {
  color: rgb(153, 163, 176);
}

#chatlog > .message > .content > .color_9 {
  color: rgb(166, 145, 105);
}
